
version: 1.0.{build}
configuration: Debug
platform: x86
build_script:
- cmd: >-
    cmake --help


    mkdir build_imebra

    cd build_imebra

    cmake -G "Visual Studio 14 2015 Win64" ..

    cmake --build . --config Release

    ctest -V .

    cd ..



    mkdir artifacts

    mkdir artifacts\bin

    mkdir artifacts\bin\release

    mkdir artifacts\bin\debug

    mkdir artifacts\include

    cp build_imebra\release\imebra.dll artifacts\bin\release

    cp build_imebra\release\imebra.lib artifacts\bin\release

    cp build_imebra\debug\imebra.dll artifacts\bin\debug

    cp build_imebra\debug\imebra.lib artifacts\bin\debug

    xcopy library\include artifacts\include /s /e
test_script:
- cmd: 
artifacts:
- path: artifacts
  name: imebra_windows
